body {
	background: #00FFFF;
	background: linear-gradient(#00FFFF, #FF69B4);
	font-family: "Comic Sans MS", "Arial", sans-serif;
	color: #000080;
}

a {
	color: #FF4500;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
}

#version {
	position: fixed;
	bottom: 0px;
	right: 0px;
	color: #000080;
	padding: .4rem;
	z-index: 100;
	user-select: none;
	background-color: #FFFF00;
	border: .15rem solid #000080;
	font-size: 12px;
}

a:after {
	display: block;
	content: '';
	border-bottom: .15rem solid #000080;
	transform: scaleX(0);
	transition: transform 300ms;
}

a:hover,
a#version:hover {
	color: #000080;
	transform-origin: 50% 50%;
}

a:hover:after {
	transform: scaleX(1);
}

ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

ul li {
	padding: 5px 0;
}

#ui-container {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #FF69B4;
	border: .15rem solid #000080;
	padding: 1rem;
	border-radius: .2rem .8rem;
}

#ui-container div {
	margin-bottom: .75rem;
	background-color: #FFFF00;
	padding: .75rem;
	border: .15rem solid #000080;
	border-radius: .4rem;
}

img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}